#point-graphics-container{
  position: absolute;
  z-index: 2;
}

.site-point{
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(134,38,51, 0.85);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  color:white;
  font-size: 12px;
  text-align:center;
  cursor:pointer;
}

.site-point:hover{
  background-color: #483D8B;
}

.site-point.prevCluster{
  background-color: #483D8B;
}

#map-images-container{
  position: absolute;
  height: 100%;
  width: 100%;
}

.map-image{
  position: absolute;
  width:256px;
  height:256px;
}


#basemap-images-frame-0{
  display: none;

}

/*.animate{
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 0s;
}


@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}*/
