
#popup{
  position: absolute;
  z-index:3;
  border-radius:10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  background-color:white;
  visibility: hidden;
}

#popup.visible {
  visibility:visible;
}

#popup::after{
  content:"";
  border:10px solid transparent;
  border-top:15px solid white;
  position:absolute;
  left:50%;
  transform: translate(-50%, 0);
}

#project-info{
  max-width: 400px;
/*  min-height: 100px;*/
  max-height: 400px;
  padding:15px;
  overflow:scroll;
  font-family:'Lora', serif;
  font-size: 14px;
  font-weight:normal;
  display:block;
}

#popup-container.expanded #project-info{
  display:none;
}

#project-title{
  font-weight:bold;
}

#project-author{
  margin: 5px 0 10px 0;
}

#project-image{
  width:150px;
  height:150px;
  float:left;
  padding-right:10px;
}

#project-text{
  font-size:12px;
  line-height:18px;
}

#cluster-info{
  text-align:center;
  height:25px;
  line-height:25px;
  display:none;
  padding:3px 10px 3px 10px;
  color:#888888;
  font-family: 'Lora', serif;
  font-size: 14px;
  border:0px solid red;
}

#cluster-info:hover{
  cursor: pointer;
  color:#333333;

}



.popup-menu{
  display: table;
  height: 40px;
  line-height: 40px;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0 auto;
  cursor: default;
  text-align: center;
  color:#888888;
}



.popup-menu-item{
  display: table-cell;
  width: 125px;
}

.popup-menu-item:hover{
  cursor: pointer;
  color:#333333;
}
