#sites-graphics-layer{
  position:absolute;
}

.site-point{
  position: absolute;
  border:0;
  border-radius: 50%;
  background-color: rgba(134,38,51, 0.85);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  color:white;
  font-size: 12px;
  text-align:center;
  cursor:pointer;
}

.site-point:hover{
  background-color: #483D8B;
}

.site-point.prev-cluster{
  background-color: #483D8B;
}
