#basemap-layer{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#frame-0{
  position: absolute;
  z-index: 1;
}

#frame-1{
  position: absolute;
  z-index: 2;
}

.map-image{
  position:absolute;
  border:0;
  width:256.5px;  /*don't know why this must be 256.5 instead of 256*/
}
