html, body, h1 {
  padding: 0;
  margin: 0;
}

body{
  background-color: #f1f1f1;
}

main {
  margin: 20px auto 20px auto;
  width: 1100px;
  padding: 20px 25px 20px 25px;
  background-color: #ffffff;
}

header h1{
  font-family: 'Cinzel', serif;
  font-size: 30px;
  font-weight: normal;
}

header p {
  font-family: 'Lora', serif;
  font-size: 12px;
  margin: 5px 0 35px 0;
  color: #666666;
}

#map{
  box-shadow: 0px 0px 10px #444444;
  width: 905px;
  height: 515px;
  float: left;
  position: relative;
}

aside{
  width:175px;
  float: right;
  line-height: 20px;
  color: #666666;
}

aside h1{
  font-family: 'Cinzel', serif;
  font-size: 14px;
}

aside p{
  margin: 0 0 20px 0;
  font-family: 'Lora', serif;
  font-size: 12px;
}

footer{
  margin: 25px 0 10px 0;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 12px;
  color: #666666;
}

.clearfix::after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
