#menu{
  position: absolute;
  top: 15px;
  left: 15px;
  max-height: 325px;
  overflow: scroll;
/*  background: linear-gradient(rgba(173,102,102,0.8), rgba(153,51,51,0.8), rgba(173,102,102,0.8));*/
  background-color: white;
  border-radius: 20px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  visibility: hidden;
  color: #333333;
}

#menu.open{
  border-radius: 5px;
  z-index:4;
}

#menu .menu-row{
  display: none;
  border-radius: 20px;
}

#menu.open .menu-row{
  border-radius:5px;
}

#menu .menu-row.selected, #menu.open .menu-row{
  display: block;
}

#menu .menu-row:hover{
  box-shadow: inset 0px 0px 3px rgb(173,102,102);
}

#menu .selected .icon-container:before{
  content: "▾";
}

#menu.open .selected .icon-container:before{
  content: "✓";
}

.menu-row{
  height: 25px;
  line-height: 25px;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.icon-container{
  float: left;
  width: 20px;
  height: 100%;
  text-align: center;
  border-right: 1px solid #d0d0d0;
  box-sizing: border-box;
  margin-left:10px;
  padding-right:5px;
}

#menu.open .icon-container{
  border-right:0px solid #d0d0d0;
}

.tag-name{
  float: left;
  margin-left: 10px;
  min-width: 125px;
}

#menu.open .tag-name{
  padding-left: 10px;
  padding-right: 0px;
}

.tag-name, #menu.open .all-sites {
  padding-left: 0px;
  padding-right: 10px;
}

.tag-count{
  float: left;
  font-size: 12px;
  text-align: right;
  padding: 0 15px 0 5px;
  width: 20px;
}
