#menu{
  position: absolute;
  top: 15px;
  left: 15px;
  max-height: 375px;
  overflow: scroll;
  background-color: white;
  border-radius: 20px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  visibility: hidden;
  color: #333333;
}

#menu.open{
  border-radius: 5px;
  z-index:4;
}

#menu .menu-row{
  display: none;
  border-radius: 20px;
}

#menu.open .menu-row{
  border-radius:5px;
}

#menu .menu-row.selected, #menu.open .menu-row{
  display: block;
}

#menu .menu-row:hover{
  box-shadow: inset 0px 0px 3px rgb(173,102,102);
}

.menu-row{
  height: 25px;
  line-height: 25px;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.icon-container{
  float:left;
  width: 14px;
  padding-left:10px;
  padding-right:5px;
  height:100%;
  border-right:1px solid #d0d0d0;
  text-align: center;
}

#menu.open .icon-container{
  border:0;
  width:15px;
}

#menu .selected .icon-container::before{
  content: "▾";
}

#menu.open .selected .icon-container::before{
  content: "✓";
}

.tag-name{
  float: left;
  width: 117px;
  margin-left:8px;
}

.tag-name::before{
  content:" ";
  display:inline-block;
}

#menu.open .indent-level-1 .tag-name::before{
  width:10px;
}

#menu.open .indent-level-2 .tag-name::before{
  width:20px;
}

.tag-count{
  float: left;
  font-size: 12px;
  text-align: right;
  padding: 0 15px 0 15px;
  width: 15px;
  border:0px solid green;
}
