#popup-container{
  position: absolute;
  top:15px;
  left:15px;
  z-index:3;
  visibility:hidden;
}

#popup-container.visible{
  visibility: visible;
}

#popup-container.expanded{
  top:15px !important;
  left:15px !important;
  width:875px !important;
  height:485px !important;
}

#popup-svg{
  position:absolute;
  top:-20px;
  left:-20px;
  filter:drop-shadow(0px 0px 4px rgba(0,0,0, 0.25));
  fill:white;
  z-index: -1;
  pointer-events: none;
}

#project-info{
  max-width: 400px;
  min-height: 100px;
  max-height: 400px;
  padding:15px;
  overflow:scroll;
  font-family:'Lora', serif;
  font-size: 14px;
  font-weight:normal;
}

#popup-container.expanded #project-info{
  display:none;
}

#project-title{
  font-weight:bold;
}

#project-author{
  margin: 5px 0 10px 0;
}

#project-image{
  width:150px;
  height:150px;
  float:left;
  padding-right:10px;
}

#project-text{
  font-size:12px;
  line-height:18px;
}

.popup-menu{
  display: table;
  height: 40px;
  line-height: 40px;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color:#888888;
}

.popup-menu-item{
  display: table-cell;
  width: 125px;
}

.popup-menu-item:hover{
  color:#333333;
}

#popup-container.expanded #zoom-button{
  cursor: default;
}

#popup-container.expanded #zoom-button:hover{
  color:#888888;
}

#popup-container.expanded #popup-pointer{
  visibility:hidden;
}

#project-display{
  padding-left:120px;
  width: 755px;
  height: 445px;
  overflow:scroll;
  border: 0px;
  display:none;
  z-index:1;
}

#popup-container.expanded #project-display{
  display: block;
}
