#zoom-controls{
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.zoom-button-container{
  color: #666666;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
}

.zoom-button{
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.zoom-button:hover{
  background-color: #eeeeee;
}

#zoom-in-button{
  margin-top: 12px;
  border-bottom: 1px solid #d0d0d0;
}

.zoom-button span{
  position: relative;
  left:1px;
  top: 3px;
}
