<div id="project-info">
  <div id="project-title"></div>
  <div id="project-author"></div>
  <img id="project-image">
  <div id="project-text"></div>
</div>

<div id="loader">
  <iframe id="project-iframe"></iframe>
  <div id="animation"></div>

</div>

<div id="popup-menu" class = "no-highlight">
  <div id="zoom-button" class="popup-menu-item">
    <span class="icon esri-icon-zoom-in-magnifying-glass"></span>
    <span>Zoom To</span>
  </div>
  <div id="read-more-button" class="popup-menu-item">
    <span class="icon esri-icon-review"></span>
    <span>Read More</span>
  </div>
  <div id="close-button" class="popup-menu-item">
    <span class="icon esri-icon-close"></span>
    <span>Close</span>
  </div>
</div>
